<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zomato</title>
  </head>
  <body>
    <h3>Listings Details</h3>

    <li><%= listing.title %></li>
    <li><%= listing.description %></li>
    <img src="<%= listing.image %>" alt="" />
    <li><%= listing.time %></li>
    <li>₹ <%= listing.price.toLocaleString("en-IN") %></li>
    <li><%= listing.location %></li>
  </body>
</html>
