<% layout('/layouts/boilerplate.ejs') %>
<body>
  <li><%= listing.title %></li>
  <li><%= listing.description %></li>
  <img src="<%= listing.image %>" alt="" />
  <li><%= listing.time %></li>
  <li>₹ <%= listing.price.toLocaleString("en-IN") %></li>
  <li><%= listing.location %></li>
</body>
